body{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
    gap: 10px;
    border: 1px solid;
    border-radius: 10px;
    
}